<%= render "shared/header" %>

<%= render "shared/flash_message" %>
<div class=error_area>
    <%= render "shared/error", obj: @reservation %>
</div>

<div class=reserv_edit_container>
    <div class=reserv_edit_title>再予約する</div>
        <div class=reserv_edit_area>
            <div class=reserv_edit_image>
                <% if @reservation.image? %>
                    <%= image_tag @reservation.image, class:"reserv_edit_image" %>
                <% else %>
                    <%= image_tag "default-room.png",class:"reserv_edit_image"  %>
                <% end %>
            </div>
            <div class=reserv_edit_name_area>
                <div class=reserv_edit_name><%= @reservation.name %></div>
                <div class=reserv_edit_price>¥<%= @reservation.price %>〜</div>
            </div>
            <div class=reserv_edit_info><%= @reservation.info %></div>
                        
            <div>
                <%= form_with model: @reservation do |f| %>
                    <%= f.label :check_in %>
                        <span class=reserv_edit_red_asterisk>*</span></br>
                    <%= f.date_field :check_in, class: "reserv_edit_form" %></br>                    
                    <%= f.label :check_out %>
                        <span class=reserv_edit_red_asterisk>*</span></br>
                    <%= f.date_field :check_out, class: "reserv_edit_form" %></br>
                    <%= f.label :persons %>
                        <span class=reserv_edit_red_asterisk>*</span></br>
                    <%= f.text_field :persons, class: "reserv_edit_form" %></br>
                    <%= f.hidden_field :created_at, value: Time.now %>
                    <%= f.submit "再予約する", class: "reserv_edit_submit" %></br>
                <% end %>
            </div>
            <%= button_to "キャンセル", new_reservation_path, method: :get, class: "reserv_edit_to_reserved" %>
        </div>
    </div>
</div>
