<%= render "shared/header" %>

<%= render "shared/flash_message" %>

<div class=rooms_index_container>
    <div class=rooms_index_title>登録済み一覧</div>
    <table class=rooms_index_table>
        <thead>
            <tr>
                <th>画像</th><th>施設名</th><th>紹介文</th>
                <th>料金</th><th>作成日</th>
            </tr>
        </thead>
        <tbody>
            <% @rooms.each do |room| %>
                <tr>
                    <td>
                        <% if room.image? %>
                            <%= image_tag room.image_url, class: "rooms_index_image" %>
                        <% else %>
                            <%= image_tag "default-room.png", class: "rooms_index_image" %>
                        <% end %>
                    </td>
                    <td><%= room.name %></td><td><%= room.info %></td>
                    <td><%= room.price %></td><td><%= room.created_at.to_s(:datetime_jp) %></td>
                    <td>
                        <%= link_to "詳細", reservation_path(room), class: "rooms_index_about" %>
                    </td>
                    <td>
                        <%= link_to "編集", [:edit, room], class: "rooms_index_edit" %>
                    </td>
                    <td>
                        <%= button_to "削除", room, method: :delete, class: "rooms_index_delete" %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
</div>